@font-face {
    font-family: 'mostwazted';
    src: url(fonts/Mostwasted.ttf);
    font-style: normal;
    font-weight: 100;
}

*{
    margin:0;
    padding:0;

}

section {
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(home.jpg);
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

section h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;

    color: #fff;
    font-size: 8vw;
    font-family: 'mostwazted';
    text-shadow: 9px 9px black;
}


footer {
    background: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    bottom: 0;
    height: 2.5%;
    width: 100%;
    overflow:hidden;
}

footer p {
    color: white;
    text-align: right;
    margin-right: 2.5vw;
    margin-bottom: 0.5vw;
}